# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
build/
out/

# Turborepo
.turbo/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store

# Prisma
database/prisma/*.db
database/prisma/migrations/dev/

# Flutter
mobile/client/**/build/
mobile/client/.dart_tool/
mobile/client/.flutter-plugins
mobile/client/.flutter-plugins-dependencies
mobile/admin/**/build/
mobile/admin/.dart_tool/
mobile/admin/.flutter-plugins
mobile/admin/.flutter-plugins-dependencies
mobile/core/**/build/
mobile/core/.dart_tool/
**/ios/Pods/
**/*.g.dart
**/*.freezed.dart

# Coverage
coverage/


.claude
.claude/
